.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.cndi_card_heading {
  color: #fff;
  text-align: left;
  border: 1px #fff;
  margin-top: 5px;
  margin-bottom: 0;
  padding-left: 0;
  font-size: 22px;
  line-height: 1.25;
}

.heading-59 {
  color: #fff;
  font-size: 52px;
  line-height: 1.25;
}

.text-block-56 {
  color: #bfbfbf;
  font-size: 18px;
  line-height: 1.25;
}

.text-block-57 {
  color: #bebebe;
  text-align: left;
  justify-content: flex-start;
  margin-top: 25px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 18px;
  line-height: 1.25;
  display: block;
}

.container-1458 {
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

.heading-60 {
  text-align: center;
  justify-content: center;
  display: flex;
}

.image-48 {
  margin-top: 100px;
}

.image-49 {
  border: 1px #474747;
  border-radius: 5px;
}

.subheading_template {
  color: #bfbfbf;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-right: 135px;
  font-size: 18px;
  line-height: 1.25;
}

.cell-4 {
  justify-content: center;
  align-items: flex-end;
}

.cell-8 {
  justify-content: space-between;
}

.text-block-66 {
  color: #fff;
  border: 1px solid #414141;
  border-radius: 5px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 5px 10px;
}

.div-block-80 {
  border: 1px none var(--stroke);
  border-radius: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 0;
  padding: 0;
  display: flex;
}

.quick-stack-6 {
  margin-top: 30px;
  padding: 0;
}

.heading_template {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 72px;
  line-height: 1.25;
}

.div-block-82 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  display: flex;
}

.text-block-68 {
  color: #fff;
  margin-top: 0;
}

.text-block-68:hover {
  color: #bfbfbf;
}

.image-51 {
  margin-right: 20px;
}

.div-block-84 {
  background-color: #fff;
  width: 50px;
  height: 1px;
  margin-top: 15px;
  margin-bottom: 0;
}

.f-avatar-image {
  object-fit: cover;
  border: 1px solid #fff;
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.f-avatar-small {
  background-color: #f3f5fd;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  width: 32px;
  min-width: 32px;
  height: 32px;
  min-height: 32px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.div-block-60 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.heading-53 {
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  margin-top: 10px;
  font-size: 42px;
  line-height: 1.25;
}

.div-block-62 {
  background-color: #251f2a;
  border-radius: 15px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  position: relative;
  top: -41px;
  box-shadow: 7px 7px 50px -3px #000;
}

.div-block-61 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-block-43 {
  color: gray;
  margin-left: 10px;
}

.text-block-44 {
  color: gray;
  margin-left: 20px;
}

.div-block-100 {
  background-color: #009942;
  border-radius: 1000px;
  width: 15px;
  height: 15px;
  margin-left: 0;
  margin-right: 5px;
}

.div-block-101 {
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 14px;
  display: flex;
}

.div-block-100-copy {
  background-color: #b1a800;
  border-radius: 1000px;
  width: 15px;
  height: 15px;
  margin-left: 0;
  margin-right: 5px;
}

.x {
  background-color: #970003;
  border-radius: 1000px;
  width: 15px;
  height: 15px;
  margin-left: 0;
  margin-right: 5px;
}

.cli_gif_templates {
  background-color: #161616;
  border: 1px solid #ffffff24;
  border-radius: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 296px;
  padding: 15px;
  display: flex;
}

.text-block-73 {
  color: #fff;
  text-decoration: none;
}

.link_block_view_project {
  align-items: center;
  margin-top: 30px;
  text-decoration: none;
  display: flex;
}

.link_block_view_project:hover {
  opacity: .5;
}

.image-58 {
  margin-left: 10px;
}

.container-14691 {
  max-width: 1080px;
}

.div-block-104 {
  background-color: #fff;
  width: 1px;
  height: 100px;
}

.cell-35,
.cell-36 {
  justify-content: center;
  align-items: center;
}

.container-14698 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  display: flex;
}

.paragraph-43 {
  color: #bfbfbf;
  font-size: 18px;
  line-height: 1.25;
}

.quick-stack-18 {
  width: 100%;
  margin-top: 40px;
}

.cell-37,
.cell-38 {
  justify-content: center;
  align-items: center;
}

.heading-101 {
  margin-bottom: 30px;
}

.cell-39,
.cell-40 {
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1440px) {
  .cell-4 {
    align-items: flex-end;
  }

  .text-block-44 {
    margin-left: 30px;
  }
}

@media screen and (max-width: 991px) {
  .heading-59,
  .text-block-56 {
    text-align: center;
  }

  .cell-4 {
    align-items: center;
  }

  /* 
  .container {
    max-width: 728px;
  } */

  .heading-53 {
    font-size: 32px;
  }

  .cli_gif_templates {
    height: auto;
  }

  .cell-20,
  .cell-21 {
    align-items: center;
  }

  .image-63 {
    order: 0;
  }
}

@media screen and (max-width: 767px) {
  .image-48 {
    max-width: 90%;
  }

  .subheading_template {
    padding-right: 0;
    font-size: 16px;
  }

  .heading_template {
    font-size: 52px;
  }

  .heading-53 {
    font-size: 23px;
  }
}

@media screen and (max-width: 479px) {
  .heading-59 {
    font-size: 36px;
  }

  .text-block-56 {
    font-size: 16px;
  }

  .text-block-57 {
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
  }

  .heading-60 {
    font-size: 36px;
  }

  .heading_template {
    font-size: 32px;
  }

  .heading-53 {
    font-size: 16px;
  }
}

#w-node-_17bc0eca-4dea-51d8-5c0e-0950303fe0dc-a5d56d94 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-_17bc0eca-4dea-51d8-5c0e-0950303fe0dd-a5d56d94,
#w-node-_17bc0eca-4dea-51d8-5c0e-0950303fe0de-a5d56d94 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-a4f6043d-ad6c-ceea-17c2-afca7ae0d445-a5d56d94 {
  grid-template-rows: auto;
  grid-template-columns: 1fr .25fr 1fr .25fr 1fr .25fr 1fr;
}

#w-node-_27cf9244-9e94-0f1b-85fa-d7eb3852acd4-00a367a8 {
  grid-template-rows: auto;
  grid-template-columns: 1fr .75fr;
}

#w-node-_27cf9244-9e94-0f1b-85fa-d7eb3852acd5-00a367a8,
#w-node-_27cf9244-9e94-0f1b-85fa-d7eb3852ace1-00a367a8 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

/* no weird void column shit here */

@media screen and (max-width: 991px) {
  #w-node-_17bc0eca-4dea-51d8-5c0e-0950303fe0dc-a5d56d94 {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  #w-node-_17bc0eca-4dea-51d8-5c0e-0950303fe0dd-a5d56d94,
  #w-node-_17bc0eca-4dea-51d8-5c0e-0950303fe0de-a5d56d94 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_27cf9244-9e94-0f1b-85fa-d7eb3852acd4-00a367a8 {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  #w-node-_27cf9244-9e94-0f1b-85fa-d7eb3852acd5-00a367a8 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_27cf9244-9e94-0f1b-85fa-d7eb3852ace1-00a367a8 {
    order: 9999;
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}